@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* General Sans Variable */
@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Variable.woff2") format("woff2");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-VariableItalic.woff2") format("woff2");
  font-weight: 200 700;
  font-style: italic;
  font-display: swap;
}

/* Spline Sans Variable */
@font-face {
  font-family: "Spline Sans";
  src: url("/fonts/SplineSans-Variable.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: "General Sans", Arial, sans-serif;
  --font-spline: "Spline Sans", sans-serif;
}

/* =========================
   BASE
========================= */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}


input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit-text,
input[type="date"]:focus::-webkit-datetime-edit-month-field,
input[type="date"]:focus::-webkit-datetime-edit-day-field,
input[type="date"]:focus::-webkit-datetime-edit-year-field,
input[type="date"]:not([value=""])::-webkit-datetime-edit-text,
input[type="date"]:not([value=""])::-webkit-datetime-edit-month-field,
input[type="date"]:not([value=""])::-webkit-datetime-edit-day-field,
input[type="date"]:not([value=""])::-webkit-datetime-edit-year-field {
  color: #4B5563;
}